@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #808080;
    box-sizing: border-box;
    font-family:   'Poppins',  sans-serif;
    background-color: #283747;
}
.report-list {
    margin-left: 10em;
}
.logoName{
   position: absolute;
   left: 75px;
   color: rgb(128, 128, 128);
}

/* add more */
i {
    display: inline-block;
    color: #666;
    font-size: 15px #808080;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    border: 1px solid #283747;
    border-radius: 100px;
    padding: 5px;
}

i:hover {
    color: #FF0;
    transform: scale(2.1);
}


#here {
    color: #FF0;
}

.ask {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 0%;

}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo {
  max-width: 100px;
}


a {
    margin-right: 20px;
}

/* report container */

.btn-container {
    display: flex;
    justify-content: space-between;
}
#reportButton, #filterSelect {
    border-radius: 30px;
    background: #FF0;
    display: inline-flex;
    padding: 18px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #666;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 2em 8em 2em 8em;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

#filterSelect {
    text-align: center;
}
/* this part */
button:hover {
    transform: scale(1.1);
    color: #FFF;
}


#report-list {
    list-style: none;
    padding: 0;
}


.report-image:hover { 
    transform: scale(1.1);
  }

.report-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    margin-left: 370px;
    margin-bottom: 10px;
    border: 10px solid #283747;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 900px;
    height: fit-content;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.report-image {
    border-radius: 20px;
    width: 141px;
    height: 113px; /* Adjust the height as needed */
    fill: #808080;
    object-fit: cover;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.report-content {
    flex: 1;
    margin-left: 20px; /* Adjust as needed */
}

.report-building,
.report-floor,
.report-room,
.report-detail,
.report-date,
.report-author,
.report-anonymous {
    color: #808080;
    font-family: Tiro Devanagari Sanskrit;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px; /* Adjust as needed */
}

.report-building,
.report-floor,
.report-room {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
}

.report-detail,
.report-date {
    font-size: 16px; /* Adjust as needed */
}

.report-date {
    margin-left: 570px;
}

.report-author,
.report-anonymous {
    color: #FFF;
    font-style: italic;
}

.report-list {
margin-top: 37px;
color: #666;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.report-status, .report-building, .report-floor, .report-anonymous, .report-date,.report-author, .report-room{
    margin-top: 1em;
}


.report-status {
    margin-left: 500px;
    color: yellow;
}



@media (max-width: 1200px) {
 
    #reportButton, #filterSelect{
        margin-right: 1%;
        margin-left: 1%;
    }
    

    .report-item {
        margin-left: 5%;
        margin-right: 5%;
       
    }

    .report-date {
        margin-left: 0;
    }

    .report-date,
    .report-status {
        text-align: center;
        margin-left: 0;
    }

    .report-list {
        margin-left: 10px;
        margin-top: 20px; /* Adjust as needed */
    }

    .report-status, .report-building, .report-floor, .report-anonymous, .report-date, .report-detail, .report-room {
        margin-top: 1em;
    }



}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    #reportButton, #filterSelect{
        margin-right: 1%;
        margin-left: 1%;
    }

    .report-item {
        margin-left: 1%;
        margin-right: 1%;
        flex-wrap: wrap;
        display: flex;
        height: fit-content;
        flex-direction: column;
        margin: 1em;
        width: auto;
        margin-top: 1em;
    }

    .report-image {
        width: 200px;
        height: 200px;
    }

    .logo {
        max-width: 50px; 
    }

    .logoName {
        font-size: small;
        margin-left: -34px;
    }

    #reportButton, #filterSelect {
        border-radius: 30px;
        background: #FF0;
        display: inline-flex;
        padding: 9px 13px;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }

    .ask {
        margin-top: 2em;
    }

    .report-status, .report-building, .report-floor, .report-anonymous,.report-author, .report-date, .report-detail, .report-room {
        margin-top: 1em;
    }

}

